<%= form_for(@fact) do |f| %>
  <% if @fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact.errors.count, "error") %> prohibited this fact from being saved:</h2>

      <ul>
      <% @fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  	<div class="span4">
      <div class="field">
        <%#= f.label :fc_date %>
        <p> Дата публикации:</p>
        <%= f.text_field :fc_date %>
      </div>
    </div>
    <div class="span8">
      <div class="field">
        <%#= f.label :fc_range %>
        <p> Сфера:</p>
        <%= f.text_field :fc_range %>
      </div>
   </div>
  </div>
  <div class="field">
    <%#= f.label :fc_fact %>
    <p> Текст:</p>
    <%= f.text_area :fc_fact, class: 'box_article' %>
  </div>
  <div class="field">
    <%#= f.label :fc_myurl %>
    <p> Внутренний адрес:</p>
    <%= f.text_field :fc_myurl %>
  </div>
  <div class="field">
    <%#= f.label :fc_idurl %>
    <p> Внешний адрес:</p>
    <%= f.text_field :fc_isxurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
