<h1>Цифры и факты</h1>

<table>
  <tbody>
    <% @facts.each do |fact| %>
      <tr>
      <span class="microposts">
        <td><%= fact.fc_date.strftime("%y-%m-%d") %></td>
        <td><%= fact.fc_range %></td>
        <td><%= fact.fc_fact %></td>
        <td><%#= fact.fc_myurl %></td>
        <td><%#= fact.fc_idurl %></td>
        <td><%= link_to 'Show', fact %></td>
        <td><%= link_to 'Edit', edit_fact_path(fact) %></td>
        <td><%= link_to 'Destroy', fact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </span>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact', new_fact_path %>
