<p id="notice"><%= notice %></p>

<p>
  <strong>Fc date:</strong>
  <%= @fact.fc_date %>
</p>

<p>
  <strong>Fc range:</strong>
  <%= @fact.fc_range %>
</p>

<p>
  <strong>Fc fact:</strong>
  <%= @fact.fc_fact %>
</p>

<p>
  <strong>Fc myurl:</strong>
  <%= @fact.fc_myurl %>
</p>

<p>
  <strong>Fc isxurl:</strong>
  <% if @fact.fc_isxurl =~ /http/ %>
    <%= link_to @fact.fc_isxurl, @fact.fc_isxurl %>
  <% else %>
    <%= @fact.fc_isxurl %>
  <% end %>
  
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
